@model MGE.ViewModels.Categorias.RemoverViewModel
@{
    ViewData["Title"] = "Remover";
}

<div class="mb-2">
    <a class="btn btn-secondary" href="/Categorias">Voltar para listagem</a>
</div>

<div class="card">
    <div class="card-header">
        <h2 class="card-title">Remover categoria <strong>#@Model.Id</strong></h2>
    </div>
    <div class="card-body">
        @if (@Model.FormMensagensErro != null)
        {
            <ul class="alert alert-danger">
                @foreach (var msgErro in @Model.FormMensagensErro)
                {
                    <li>@msgErro</li>
                }
            </ul>
        }

        <form action="/Categorias/Remover/@Model.Id" method="post">
            <div class="form-group">
                <p>Dados da Categoria a remover</p>
                <ul>
                    <li>
                        <strong>Id: </strong>@Model.Id
                    </li>
                    <li>
                        <strong>Descrição: </strong> @Model.Descricao
                    </li>
                    <li>
                        <strong>ID da Categoria Pai: </strong> @Model.CategoriaPai
                    </li>
                </ul>
                <p><strong>Atenção: </strong>Essa operação não pode ser desfeita!</p>
            </div>

            <div class="form-group">
                <input name="confirmar" class="btn btn-primary" type="submit" value="Confirmar" />
            </div>
        </form>
    </div>
</div>